.signup {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    &-title {
        padding: 10px 30px;
    }

    &-form {
        padding: 10px 30px;
        max-width: 466px;
    }

    &-submit {
        padding-right: 30px;
        button {
            width: 100px;
        }
    }
}

button.option {
    font-size: 12px;
    border: none;
    background-color: transparent;

    &:hover {
        color: var(--link);
    }
}