<div class="signup">
    <div class="signup-title">
        {{ "register" | translate }}
    </div>

    <div class="flex-grow">
        <form class="signup-form" [formGroup]="form">
            <input nz-input [placeholder]="'enterName' | translate" formControlName="name" />
            <input class="mt-2" nz-input [placeholder]="'phone' | translate" formControlName="phone" />
            <input class="mt-2" nz-input [placeholder]="'email' | translate" formControlName="email" />
            <input class="mt-2" nz-input [placeholder]="'password' | translate" formControlName="password" />
        </form>
        <div class="signup-submit">
            <button nz-button nzType="primary" [nzLoading]="signupLoading" (click)="signup_onClick()">
                {{ "register" | translate }}
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <button class="option" (click)="login_onClick()">
            {{ "alreadyHaveAccount" | translate }}
        </button>
    </div>

</div>