.signup {
    height: 100%;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;

    &-title {
        padding: 10px 30px 2px 30px;
    }

    &-form {
        padding: 10px 30px;
        max-width: 466px;
    }

    &-submit {
        padding-right: 30px;
        margin-bottom: 10px;

        button {
            width: 100px;
        }
    }
}

button.option {
    font-size: 12px;
    border: none;
    background-color: transparent;

    &:hover {
        color: var(--link);
    }
}

.phone-example {
    margin: 0 5px;
    font-size: 12px;
}

.fielder {
    &-title {
        font-size: 12px !important;
        margin-bottom: 2px !important;
        color: #6b6b6b;
    }
}