<div class="signup">
    <div class="signup-title">
        {{ "register" | translate }}
    </div>

    <div class="flex-grow-1">
        <form class="signup-form" [formGroup]="form">
            <div class="fielder">
                <div class="fielder-title">{{ "enterName" | translate }}</div>
                <input nz-input formControlName="name" />
            </div>
            <div class="fielder">
                <div class="fielder-title">{{ "phone" | translate }}
                    <span class="phone-example">({{ "phoneExample" | translate }})</span>
                </div>
                <input nz-input formControlName="phone" />
            </div>
            <div class="fielder">
                <div class="fielder-title">{{ "emailAsUsername" | translate }}</div>
                <input nz-input formControlName="email" />
            </div>
            <div class="fielder">
                <div class="fielder-title">{{ "password" | translate }}</div>
                <input nz-input formControlName="password" />
            </div>
            <button class="d-none" type="submit" (click)="signup_onClick()"></button>
        </form>
        <div class="signup-submit">
            <button nz-button nzType="primary" [nzLoading]="signupLoading" (click)="signup_onClick()">
                <div class="d-flex justify-content-between" *ngIf="!signupLoading">
                    <span> {{ "register" | translate }} </span>
                    <img class="signup-image" src="assets/svg/signup.svg">
                </div>
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <button class="option" (click)="login_onClick()">
            {{ "alreadyHaveAccount" | translate }}
        </button>
    </div>

</div>