.wrapper {
    height: 600px;
    max-height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
}

nz-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

::ng-deep nz-select-item {
    display: flex !important;
}

::ng-deep .ant-input-stepperless[type=number] {
    direction: rtl !important;
}