<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="category-list">
            <div class="d-flex">
                <div class="category-list-name">
                    {{ "categories" | translate }}
                </div>
                <div class="category-list-add" (click)="addCategoryModalVisible = true">
                    <button nz-button nzType="default"><span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                </div>
            </div>
            <nz-collapse class="overflow-auto">
                @for (category of categories; track $index) {
                <nz-collapse-panel [nzHeader]="categoryHeader">
                    @for (product of category.products; track $index) {
                    <div class="product-item">
                        <div class="product-item-info">
                            <p class="product-item-title">{{ product.title }}</p>
                            <div>
                                <span class="product-item-icon blue" nz-icon nzType="edit" nzTheme="outline"
                                    (click)="editProduct_onClick(product)"></span>
                                <span nzPopconfirmPlacement="right" nz-popconfirm nzPopconfirmTitle="حذف محصول؟"
                                    class="product-item-icon red" [nzOkText]="submitTranslate"
                                    [nzCancelText]="backTranslate" nz-icon nzType="delete" nzTheme="outline"
                                    (nzOnConfirm)="deleteProduct_onConfirm(product)"></span>
                            </div>
                        </div>
                        <img class="product-item-image" [src]="product.imageUrl">
                    </div>
                    }
                </nz-collapse-panel>
                <ng-template #categoryHeader>
                    <div class="category-list-item">
                        <div class="d-flex align-items-center" (click)="$event.stopPropagation()">

                            <!-- todo: translate -->
                            <span nzPopconfirmPlacement="right" nz-popconfirm nzPopconfirmTitle="حذف دسته بندی؟"
                                class="category-list-icon red me-1" nzOkText="بله" nzCancelText="خیر" nz-icon
                                nzType="delete" nzTheme="outline"
                                (nzOnConfirm)="deleteCategory_onConfirm(category)"></span>

                            <span class="category-list-icon blue" nz-icon nzType="edit" nzTheme="outline"
                                (click)="editCategory_onClick(category)"></span>

                            <span class="category-list-icon blue" nz-icon nzType="plus" nzTheme="outline"
                                (click)="addProduct_onClick(category)"></span>
                        </div>

                        <div class="d-flex align-items-center category-list-title">
                            <div class="mt-1">{{ category.categoryName }}</div>
                        </div>
                    </div>
                </ng-template>
                }
            </nz-collapse>

            <nz-modal [(nzVisible)]="editCategoryModalVisible" [nzTitle]="editCategoryName" [nzOkText]="submitTranslate"
                [nzCancelText]="backTranslate" (nzOnOk)="editCategory_onConfirm()"
                (nzOnCancel)="editCategoryModalVisible = false">
                <ng-container *nzModalContent>
                    <input nz-input [formControl]="newCategoryNameControl" />
                    <ng-container *ngTemplateOutlet="uploaderTemplate"></ng-container>
                </ng-container>
            </nz-modal>

            <nz-modal [(nzVisible)]="addCategoryModalVisible" [nzTitle]="newCategoryName" [nzOkText]="submitTranslate"
                [nzCancelText]="backTranslate" (nzOnOk)="addCategory_onConfirm()"
                (nzOnCancel)="addCategoryModalVisible = false">
                <ng-container *nzModalContent>
                    <input nz-input [formControl]="addCategoryControl" />
                    <ng-container *ngTemplateOutlet="uploaderTemplate"></ng-container>
                </ng-container>
            </nz-modal>

            <nz-modal [nzOkLoading]="addLoading && !addLoading.closed" [(nzVisible)]="productModalVisible"
                [nzTitle]="productDetails" [nzOkText]="submitTranslate" [nzCancelText]="backTranslate"
                (nzOnOk)="addProduct_onConfirm()" (nzOnCancel)="productModalVisible = false"
                (nzAfterClose)="productModal_onClose()">
                <ng-container *nzModalContent>
                    <form [formGroup]="form" class="w-c">
                        <div class="fielder">
                            <div class="fielder-title">{{ "category" | translate }}</div>
                            <nz-select class="w-100" formControlName="categoryId">
                                @for (item of categories; track $index) {
                                <nz-option [nzValue]="item.categoryId" [nzLabel]="item.categoryName ?? ''"></nz-option>
                                }
                            </nz-select>
                        </div>
                        <div class="fielder">
                            <div class="fielder-title">{{ "productTitle" | translate }}</div>
                            <input nz-input formControlName="title" />
                        </div>
                        <div class="fielder">
                            <div class="fielder-title">{{ "price" | translate }}</div>
                            <input nz-input formControlName="price" />
                        </div>
                        <div class="fielder">
                            <div class="fielder-title">{{ "amount" | translate }}</div>
                            <input nz-input formControlName="amount" />
                        </div>
                        <ng-container *ngTemplateOutlet="uploaderTemplate"></ng-container>
                    </form>
                </ng-container>
            </nz-modal>

        </div>
    </div>
</div>

<ng-template #uploaderTemplate>
    <div class="fielder mt-4">
        <nz-upload [nzCustomRequest]="uploadRequest" [nzShowUploadList]="false">
            <button nz-button [nzLoading]="uploadLoading && !uploadLoading.closed">
                <span nz-icon nzType="upload"></span>
                {{ "uploadImage" | translate }}
            </button>
        </nz-upload>
    </div>
</ng-template>


<ng-template #newCategoryName>
    {{ "newCategoryName" | translate }}
</ng-template>
<ng-template #editCategoryName>
    {{ "editCategoryName" | translate }}
</ng-template>
<ng-template #submit>
    {{ "submit" | translate }}
</ng-template>
<ng-template #productDetails>
    {{ "productDetails" | translate }}
</ng-template>