.category-list {
    height: fit-content;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-name {
        margin: 0 4px 6px 0;
        font-size: 14px;
    }

    &-item {
        margin-top: -4px;
        padding: 0 5px 0 0;
        height: 30px;
        height: 30px;
        border-radius: 2px;
        margin-bottom: 1px;
        display: flex;
        justify-content: space-between;
        direction: ltr;
    }

    &-title {
        font-size: 13px;
        margin: 0 5px;
    }

    &-icon {
        cursor: pointer;
        margin: 0 10px;
    }

    &-add {
        margin: 0 10px 7px 0;

        button {
            height: 23px;
        }
    }
}

::ng-deep .ant-collapse-header {
    background: aliceblue !important;
}

.product-item {
    border-bottom: 1px solid rgb(255 205 27);
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &-info {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &-title {
        font-size: 13px;
        margin: 0 5px;
        font-weight: bold;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }

    &-image {
        height: fit-content;
        max-height: 90px;
    }

    &-icon {
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin: 0 5px;
    }

    &-amount {
        margin: 0 5px;

        @media (max-width: 767px) {
            font-size: 11px;
        }
    }

    &-price {
        margin: 0 5px;

        @media (max-width: 767px) {
            font-size: 11px;
        }
    }
}