<div class="wrapper">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="ps-4 pt-2 d-flex justify-content-center">
                <img class="fit" [src]="product?.imageUrl" alt="">
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
            <div class="detail mt-4">
                <div class="detail-title">
                    {{ product?.title }}
                </div>

                <div class="detail-amount my-2">
                    <span class="detail-amount-title"> {{ 'amount' | translate }}: </span>
                    <span class="mx-2"> {{ product?.amount }} </span>
                </div>

                <div class="detail-price mb-2">
                    <span class="detail-price-title"> {{ 'price' | translate }}: </span>
                    <span class="mx-2"> {{ product?.price }} {{ 'currency' | translate }} </span>
                </div>
            </div>

            <div class="shop">
                @if (client.isLogin) {
                @if (client.isAdmin) {
                <div class="board-data-icons">
                    <span class="m-2 blue cursor-pointer" nz-icon nzType="edit" nzTheme="outline"
                        (click)="editProduct_onClick(product); $event.stopPropagation()">
                    </span>
                    <span class="m-2 red cursor-pointer" nz-icon nzType="delete" nzTheme="outline"
                        (click)="deleteProduct_onClick(product); $event.stopPropagation()">
                    </span>
                </div>
                }@else {

                <button [disabled]="product?.amount === 0" nz-button nzType="default" (click)="addToCard()">
                    {{ 'toShopCard' | translate }}
                    <span nz-icon nzType="shopping" nzTheme="outline"></span>
                </button>
                }
                }@else {
                <button nz-button nzType="default" (click)="navigateToLogin()">
                    {{ 'getIn' | translate }}
                </button>
                }
            </div>
        </div>
    </div>
</div>