@import '../../../shared/style/mixins.scss';
@import '../../../shared/style/nz-tab.style.scss';

.wrapper {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding-bottom: 15px;
}

.fit {
    width: fit-content;
    height: fit-content;
    max-width: 220px;
    max-height: 220px;
    border-radius: var(--main-border-radius);

    @include respond(md) {
        max-width: 160px;
        max-height: 160px;
    }
}

::ng-deep .ant-tabs-content-holder {
    max-height: calc(100vh - 290px);
    overflow: hidden auto;
    padding: 0;
    margin-top: 10px;
}

.row {
    box-shadow: var(--main-shadow);
}

.carousel {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    border: 1px solid #dfdfdf;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-shadow);
}

.detail {
    padding: 15px;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    &-title {
        font-size: 14px;
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: center;
        padding-bottom: 17px;
        font-weight: 700;
    }

    &-amount {
        &-title {
            font-size: 13px;
        }
    }

    &-price {
        &-title {
            font-size: 13px;
        }
    }

    &-description {
        &-title {
            font-size: 13px;
        }
    }

    &-size {
        &-title {
            font-size: 13px;
        }

        nz-select {
            margin: 0 10px;
            width: 100px;

            ::ng-deep nz-select-item {
                display: flex;
                justify-content: center;
            }

            ::ng-deep nz-select-arrow {
                margin-top: -10px !important;
            }
        }

    }
}

.shop {
    display: flex;
    justify-content: center;
}

nz-button-group {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        background: #fff;

        span {
            font-size: 13px;
        }
    }
}

.row {
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
}

.delete {
    margin-right: 30px;
    font-size: 20px;
    border: 1px solid #e5e5e5;
    padding: 6px;
    border-radius: 20px;
    color: red;
    cursor: pointer;
}

.details-wrapper {
    background: #fff;
    padding: 20px;
    text-align: unset;
}

.page-title-crud {
    position: absolute;
    left: 7px;
    top: 7px;
    cursor: pointer;
    font-size: 12px;
    background: aliceblue;
    padding: 2px 7px;

    img {
        height: 20px;
    }

    @media (max-width: 767px) {
        &-text {
            display: none;
        }
    }
}