@import '../../../shared/style/mixins.scss';

.wrapper {
    flex-grow: 1;
    overflow: hidden auto;
    padding-bottom: 15px;
}

.fit {
    width: fit-content;
    height: fit-content;
    max-width: 220px;
    max-height: 220px;
    border-radius: var(--main-border-radius);

    @include respond(md) {
        max-width: 160px;
        max-height: 160px;
    }
}

.detail {
    padding: 15px;

    @media (max-width: 767px) {
        padding: 0;
    }

    &-title {
        font-size: 14px;
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: center;
        padding-bottom: 17px;
        font-weight: 700;
    }

    &-amount {
        &-title {
            font-size: 13px;
        }
    }

    &-price {
        &-title {
            font-size: 13px;
        }
    }

    &-description {
        &-title {
            font-size: 13px;
        }
    }

    &-size {
        &-title {
            font-size: 13px;
        }

        nz-select {
            margin: 0 10px;
            width: 100px;

            ::ng-deep nz-select-item {
                display: flex;
                justify-content: center;
            }

            ::ng-deep nz-select-arrow {
                margin-top: -10px !important;
            }
        }

    }
}

.shop {
    display: flex;
    justify-content: center;
}

nz-button-group {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        background: #fff;

        span {
            font-size: 13px;
        }
    }
}

.row {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
}

.img {
    background-color: rgba(241, 241, 241, 0.379);
}

.delete {
    margin-right: 30px;
    font-size: 20px;
    border: 1px solid #e5e5e5;
    padding: 6px;
    border-radius: 20px;
    color: red;
    cursor: pointer;
}

::ng-deep .ant-tabs-nav-wrap {
    background: #fff;
}

::ng-deep .ant-tabs>.ant-tabs-nav {
    margin: 0;
}

::ng-deep .ant-tabs-tab {
    width: 150px;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }
}

::ng-deep .ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
}