<div class="d-flex flex-column h-100">
    <div class="wrapper-title">
        {{ 'productDetails' | translate }}
        <div class="wrapper-title-back" (click)="back()">
            <img class="wrapper-title-back-icon" src="assets/svg/back.svg">
            {{ 'back' | translate }}
        </div>
    </div>
    <div class="wrapper">
        @if (dataLoading && !dataLoading.closed) {
        <loading class="mt-5"></loading>
        }@else {
        <div class="row">
            @if (product?.product.productId) {
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="ps-4 pt-2 d-flex justify-content-center img">
                    <!-- <img class="fit" [src]="product?.product.imageUrl" [alt]="product?.product.title"> -->
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div class="detail mt-4">
                    <div class="detail-title">
                        {{ product?.product.title }}
                    </div>

                    <div class="detail-price mb-2 mt-4">
                        <span class="detail-price-title"> <b>{{ 'price' | translate }}:</b> </span>
                        <span class="mx-2"> {{ product?.product.price | currencyPipe }} {{ 'currency' | translate }}
                        </span>
                    </div>

                    @if (product?.productSize.length === 0) {
                    <div class="detail-amount my-2">
                        <span class="detail-amount-title"> <b>{{ 'amount' | translate }}:</b> </span>
                        <span class="mx-2"> {{ product?.product.amount }} </span>
                    </div>
                    }

                    <div *ngIf="product?.product.description" class="detail-description">
                        <span class="detail-description-title"> <b>{{ 'description' | translate }}:</b> </span>
                        <span class="mx-2"> {{ product?.product.description }} </span>
                    </div>

                    <div *ngIf="product?.productSize.length > 0" class="detail-size mt-2 mb-4">
                        <span class="detail-size-title"> <b>{{ 'selectSize' | translate }}:</b> </span>
                        <nz-select [formControl]="sizeFormControl" nzAllowClear>
                            @for (item of product.productSize; track $index) {
                            <nz-option [nzValue]="item.size" [nzLabel]="+item.size"></nz-option>
                            }
                        </nz-select>
                    </div>

                </div>

                <div class="shop">
                    @if (client.isLogin) {
                    @if (client.isAdmin) {
                    <div class="board-data-icons">
                        <span class="m-2 blue cursor-pointer" nz-icon nzType="edit" nzTheme="outline"
                            (click)="editProduct_onClick(); $event.stopPropagation()">
                        </span>
                        <span class="m-2 red cursor-pointer" nz-icon nzType="delete" nzTheme="outline"
                            zPopconfirmPlacement="right" nz-popconfirm nzPopconfirmTitle="حذف محصول؟" nzOkText="بله"
                            nzCancelText="خیر" (click)="$event.stopPropagation()"
                            (nzOnConfirm)="deleteProduct_onClick(product.product)">
                        </span>
                    </div>
                    }@else {
                    @if (!productInShopCardFlag) {

                    @if (product?.product.amount > 0) {
                    <button nz-button nzType="default" (click)="addToCard()"
                        [disabled]="product?.productSize.length > 0 && selectedSize === null">
                        {{ 'toShopCard' | translate }}
                        <span nz-icon nzType="shopping" nzTheme="outline"></span>
                    </button>
                    } @else {
                    <div class="red d-flex justify-content-center">
                        {{ "notAvailable" | translate }}
                    </div>
                    }

                    }@else {
                    <div class="mx-3 mt-1">
                        <b>{{ "quantity" | translate }}:</b>
                    </div>
                    <nz-button-group>
                        <button nz-button (click)="minCount()"><span nz-icon nzType="minus"></span></button>
                        <div class="mx-3 mt-1">
                            {{ wantToBuyAmount }}
                        </div>
                        <button nz-button (click)="addCount()"><span nz-icon nzType="plus"></span></button>
                    </nz-button-group>
                    <span class="red cursor-pointer delete" nz-icon nzType="delete" nzTheme="outline"
                        (click)="deleteFromShopCard()">
                    </span>
                    }
                    }
                    }@else {
                    <button nz-button nzType="default" (click)="navigateToLogin()">
                        {{ 'getInBeforeBuy' | translate }}
                    </button>
                    }
                </div>
            </div>
            } @else {
            <nz-alert class="d-flex justify-content-center" nzType="error"
                [nzMessage]="'productHasBeenDeleted' | translate">
            </nz-alert>
            }
        </div>
        }
    </div>
</div>