@import '../../../shared/style/mixins.scss';

.wrapper {
    height: 100%;
    overflow: hidden auto;
    padding: 0 5px 15px 5px;
}

.fit {
    width: fit-content;
    height: fit-content;
    max-width: 220px;
    max-height: 220px;
    border-radius: 8px;

    @include respond(md) {
        max-width: 200px;
        max-height: 200px;
    }
}

.detail {
    padding: 15px;

    &-title {
        font-size: 22px;
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: center;
        padding-bottom: 17px;
        font-weight: 700;
    }

    &-amount {
        &-title {
            font-size: 17px;
        }
    }

    &-price {
        &-title {
            font-size: 17px;
        }
    }
}

.shop {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

nz-button-group {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        background: #fff;

        span {
            font-size: 13px;
        }
    }
}

.row {
    margin: 10px 20px;
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 1px 10px #e1e1e1;
}

.img {
    background-color: rgba(241, 241, 241, 0.379);
}
