.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cards {
    position: relative;
    flex-grow: 1;
    overflow: hidden auto;
    padding-bottom: 10px;
}

::ng-deep .ant-alert {
    width: fit-content;
    font-size: 12px;
    border-radius: var(--main-border-radius);
}

::ng-deep .ant-alert-icon {
    margin-left: 10px;
}

.box {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    box-shadow: var(--main-shadow);

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-content {
        padding: 10px;
        font-size: 14px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &-product {
        &:hover {
            box-shadow: var(--main-shadow);
        }

        cursor: pointer;
        width: 200px;
        height: 100%;
        border: 1px solid rgb(215, 215, 215);
        border-radius: var(--main-border-radius);
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
            max-height: 110px;
        }

        &-title {
            font-size: 10px;
            font-weight: bold;
        }

        &-color {
            display: flex;
            align-items: center;
        }
    }
}

.product-field {
    display: flex;
}

@media (max-width:900px) {
    .product-field {
        flex-direction: column;
    }

    .box {
        height: fit-content;
    }

    .box-product {
        margin: 5px 0;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .w-20 {
        font-size: 9px;
        padding: 0;
    }
}

.active {
    border: 1px solid #83cfff;
    background: aliceblue;
}

.fit {
    font-size: 12px;
    width: fit-content;
    border: 1px solid rgba(4, 231, 0, 0.708);

    &-red {
        border: 1px solid red !important;
        color: red;
    }
}

.not-deliver {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.no-order-image {
    margin-top: 200px;
    height: 120px;
}

.palette {
    margin: 0 5px;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 22px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}