<div class="wrapper">
    <div class="wrapper-title">
        {{ 'orders' | translate }}
    </div>
    <div class="cards">
        <div class="row">
            @for (order of orders; track $index) {
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box mt-2 p-1">
                    <div class="d-flex justify-content-center">
                        <div [ngSwitch]="order.status">
                            <div *ngSwitchCase="0">
                                <nz-alert nzType="warning" nzMessage="پرداخت شده و در انتظار ارسال" nzShowIcon>
                                </nz-alert>
                            </div>
                            <div *ngSwitchCase="1">
                                <nz-alert nzType="info" nzMessage="ارسال شده توسط فروشنده" nzShowIcon></nz-alert>
                            </div>
                            <div *ngSwitchCase="2">
                                <nz-alert nzType="success" nzMessage="تحویل توسط مشتری" nzShowIcon></nz-alert>
                            </div>
                        </div>
                    </div>
                    <div class="row box-content">
                        <div class="w-100 d-flex flex-column">
                            <div class="my-1">
                                <b>گیرنده :</b> {{ order.receiverName }}
                            </div>
                            <div class="my-1">
                                <b>تاریخ ثبت سفارش :</b> {{ order.date }}
                            </div>
                            <div class="my-1">
                                <b>تعداد کالا :</b> {{ order.products.length }}
                            </div>
                            <div class="my-1">
                                <b>مجموع قیمت سفارش :</b> {{ order.totalPrice | currencyPipe }} تومان
                            </div>
                            <div class="my-1">
                                <b>آدرس :</b> {{ order.address }}
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 flex-grow product-field">
                            @for (product of order.products; track $index) {
                            <div class="box-product" (click)="navigateToProduct(product)">
                                <img [src]="product.imageUrl">
                                <div class="box-product-title">
                                    {{ product.title }}
                                </div>
                                <div class="box-amount-price">
                                    <b>قیمت واحد :</b> {{ product.price | currencyPipe }} تومان
                                </div>
                                <div class="box-product-amount">
                                    <b>تعداد :</b> {{ product.inCardAmount }}
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>