<div class="wrapper-title">
    {{ 'products' | translate }} {{ 'category' | translate }}
    <div class="wrapper-title-back" (click)="back()">
        <img class="wrapper-title-back-icon" src="assets/svg/back.svg">
        {{ 'back' | translate }}
    </div>
</div>
<div class="wrapper">
    <div class="row">
        @if (dataLoading && !dataLoading.closed) {
        <loading class="mt-5"></loading>
        }@else {
        @for (product of products; track product; let i = $index) {
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 custom-padding">
            <div class="board" (click)="board_onClick(product)">
                <div class="board-image">
                    <img [src]="product.imageUrl" [alt]="product.title">
                </div>
                <div class="board-data">
                    <p class="w-100 d-flex justify-content-center mb-1"><b>{{ product.title }}</b></p>
                    <p> <span> <b>{{ "price" | translate }}:</b> </span> {{ product.price | currencyPipe }}
                        {{ "currency" | translate }}
                    </p>

                    @if (product.amount > 0) {
                    <p> <span> <b>{{ "amount" | translate }}:</b> </span> {{ product.amount }} </p>
                    } @else {
                    <div class="red d-flex justify-content-center">
                        {{ "notAvailable" | translate }}
                    </div>
                    }

                    @if (client.isAdmin) {
                    <div class="board-data-icons">
                        <span class="m-2 blue" nz-icon nzType="edit" nzTheme="outline"
                            (click)="editProduct_onClick(product); $event.stopPropagation()">
                        </span>
                        <span class="m-2 red" nz-icon nzType="delete" nzTheme="outline" zPopconfirmPlacement="right"
                            nz-popconfirm nzPopconfirmTitle="حذف محصول؟" nzOkText="بله" nzCancelText="خیر"
                            (click)="$event.stopPropagation()" (nzOnConfirm)="deleteProduct_onClick(product)">
                        </span>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>