.wrapper {
    flex-grow: 1;
    overflow: hidden auto;
    padding: 0 5px 15px 5px;
}

.custom-padding {
    @media (max-width: 767px) {
        margin-top: 12px;
    }

    @media (min-width: 767px) {
        margin-top: 24px;
    }
}

.board {
    padding: 14px;
    box-shadow: 1px 1px 10px #d6d6d6;

    &-image {
        height: 180px;
        background-color: rgba(251, 251, 251, 0.379);
        display: flex;
        justify-content: center;

        img {
            height: fit-content;
            max-height: 180px;
        }
    }

    &-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 120px;
        padding: 10px;
        position: relative;
        justify-content: space-between;

        p {
            margin-bottom: 5px;
        }

        &-icons {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 1px;
            left: 5px;
        }

        &-title {
            font-size: 14px;
            background: cornsilk;
            padding: 5px 5px 0 5px;
        }

        &-price {
            font-size: 13px;
        }

        &-amount {
            font-size: 13px;
        }
    }
}

@media (max-width: 767px) {
    .board {
        &-data {
            font-size: 14px;
        }
    }
    .wrapper-title-text {
        opacity: 0;
    }
}

.wrapper-title-sort {
    position: absolute;
    left: 10px;
    top: 3px;

    nz-select {
        width: 100px;
    }

    span {
        font-size: 12px;
        margin: 0 10px;
    }
}