<div class="d-flex flex-column h-100">
    <div class="page-title">

        <div class="page-title-sort">
            <span (click)="showSortMenu = true" class="cursor-pointer" nz-dropdown [nzDropdownMenu]="menu"
                nzPlacement="bottomCenter">
                {{ 'sortBy' | translate }}
                <img class="sort" src="assets/svg/sort.svg" nz-icon nzType="menu" nzTheme="outline"
                    (click)="showSortMenu = true">
            </span>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                @if (showSortMenu) {
                <ul nz-menu>
                    @for (item of sortItems; track $index) {
                    <li class="menu-item" (click)="sort_onChange($index + 1)">
                        {{ item.label }}
                    </li>
                    }
                </ul>
                }
            </nz-dropdown-menu>
        </div>

        <div class="page-title-text">{{ 'products' | translate }} {{ 'category' | translate }}</div>

        <div class="page-title-back" (click)="back()">
            <img class="page-title-back-icon" src="assets/svg/back.svg">
            {{ 'back' | translate }}
        </div>

    </div>
    <div class="wrapper">
        @if (dataLoading && !dataLoading.closed) {
        <loading class="mt-5"></loading>
        }@else {
        <div class="row">
            @for (product of products; track product; let i = $index) {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 custom-padding">
                <div class="board" (click)="board_onClick(product.product)">
                    <div class="board-image">
                        <img [src]="getProductImage(product.product)" [alt]="product.product.title">
                    </div>
                    <div class="board-data">
                        <p class="w-100 d-flex justify-content-center mb-1 board-data-title"><b>
                                {{ product.product.title }}</b>
                        </p>
                        <div>
                            <p class="board-data-price"> <span> <b>{{ "price" | translate }}:</b> </span>
                                {{ product.product.price | currencyPipe }}
                                {{ "currency" | translate }}
                            </p>
                            @if (product.product.amount > 0 && product.productSize.length === 0) {
                            <p class="board-data-amount"> <span> <b>{{ "amount" | translate }}:</b> </span>
                                {{ product.product.amount }}
                            </p>
                            }
                            <!-- todo: if sized -->
                            @if (product.product.amount === 0 && product.productSize.length === 0) {
                            <div class="red d-flex justify-content-center">
                                {{ "notAvailable" | translate }}
                            </div>
                            }
                        </div>

                        @if (client.isAdmin) {
                        <div class="board-data-icons">

                            <button class="mx-1" nz-button nzType="default" nzShape="circle"
                                (click)="editProduct_onClick(product); $event.stopPropagation()">
                                <span class="blue" nz-icon nzType="edit" nzTheme="outline">
                                </span>
                            </button>

                            <button class="mx-1" nz-button nzType="default" nzShape="circle"
                                (click)="$event.stopPropagation()" nzDanger>
                                <span class="red" nz-icon nzType="delete" nzTheme="outline" zPopconfirmPlacement="right"
                                    nz-popconfirm nzPopconfirmTitle="حذف محصول؟" nzOkText="بله" nzCancelText="خیر"
                                    (nzOnConfirm)="deleteProduct_onClick(product.product)">
                                </span>
                            </button>

                        </div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>