<div class="d-flex flex-column w-100 h-100 pb-5">
    <div class="flex-grow">
        <!-- todo -->
    </div>
    <div class="pb-4">
        <p> {{"yourMessage" | translate}} </p>
        <textarea [formControl]="message" nz-input [nzAutosize]="{ minRows: 7, maxRows: 15 }"></textarea>
        <button class="submit" nz-button nzType="primary" [nzLoading]="submitLoading && !submitLoading.closed"
            (click)="submit_onClick()" [disabled]="message.invalid">
            {{ "submit" | translate }}
        </button>
    </div>
</div>