<div class="wrapper">
    <div class="w-100 d-flex flex-column align-items-end">
        <div class="title">
            @if (modalData) {
            {{ "editCategory" | translate }}
            }
            @else {
            {{ "newCategory" | translate }}
            }
        </div>
        <input nz-input [formControl]="formControl" dir="rtl" />
        <div class="fielder d-flex flex-column align-items-end w-100 mt-1">
            <!-- <nz-upload [nzCustomRequest]="uploadRequest" dir="rtl"> -->
            <div class="d-flex justify-content-between w-100">

                <!-- <div>
                    @if (imageChangedEvent) {
                    <label nz-checkbox [formControl]="standardSizeControl">{{ "standardSize" | translate }}</label>
                    }
                </div> -->

                <button nz-button (click)="triggerFileInput()">
                    <span nz-icon nzType="upload"></span>
                    {{ "uploadImage" | translate }}
                </button>

            </div>
            <!-- </nz-upload> -->
            <input class="d-none" type="file" (change)="imageChangedEvent = $event" #uploader />
            <div class="cropper-container">
                <image-cropper [aspectRatio]="aspectRatio" [imageChangedEvent]="imageChangedEvent" format="png"
                    (imageCropped)="imageCropped($event)">
                </image-cropper>
            </div>
        </div>
    </div>

    <div>
        <button nz-button nzType="default" class="mx-1" (click)="onBack()">{{ "back" | translate }}</button>
        <button nz-button nzType="primary" class="mx-1" (click)="onSubmit()" [nzLoading]="loading"
            [disabled]="formControl.invalid">
            {{ "submit" | translate }}
        </button>
    </div>
</div>