<div class="wrapper">
    <div class="w-100 d-flex flex-column align-items-end">
        <div class="title">
            {{ "changePassword" | translate }}
        </div>
    </div>
    <input nz-input placeholder="رمز عبور جدید" [formControl]="changePasswordControl" dir="rtl" />
    <div>
        <button nz-button nzType="default" class="mx-1" (click)="onBack()">{{ "back" | translate }}</button>
        <button nz-button nzType="primary" class="mx-1" (click)="onSubmit()">{{ "submit" | translate }}</button>
    </div>
</div>