<div class="login">
    <div class="login-title">
        {{ "welcome" | translate }}
    </div>

    <div class="flex-grow-1">
        <form class="login-form" [formGroup]="form">

            <input nz-input [placeholder]="'emailOrPhone' | translate" formControlName="emailOrPhone"
                autocomplete="username" />

            <div class="position-relative">
                <input class="mt-2" nz-input [placeholder]="'password' | translate" [type]="passwordInputType"
                    formControlName="password" autocomplete="current-password" />
                <img class="visibility" src="assets/svg/visible.svg" [class.d-none]="passwordIsVisible"
                    (click)="passwordIsVisible = true; passwordInputType = 'text'">
                <img class="visibility" src="assets/svg/unvisible.svg" [class.d-none]="!passwordIsVisible"
                    (click)="passwordIsVisible = false; passwordInputType = 'password'">
            </div>

            <button class="d-none" type="submit" (click)="login_onClick()"></button>

        </form>
        <div class="login-submit">
            <button nz-button nzType="primary" [disabled]="form.invalid" [nzLoading]="loginLoading"
                (click)="login_onClick()">
                <div class="d-flex justify-content-between" *ngIf="!loginLoading">
                    <span> {{ "getIn" | translate }} </span>
                    <img class="login-image" src="assets/svg/login.svg">
                </div>
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <button class="option" (click)="forgetPassword_onClick()" [disabled]="true">
            {{ "forgetPassword" | translate }}
        </button> |
        <button class="option" (click)="register_onClick()">
            {{ "register" | translate }}
        </button>
    </div>

</div>