.login {
    height: 400px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    &-title {
        padding: 10px 30px;
    }

    &-form {
        padding: 10px 30px;
    }

    &-submit {
        padding-right: 30px;
        button {
            width: fit-content;
        }
    }
}

button.option {
    font-size: 12px;
    border: none;
    background-color: transparent;

    &:hover {
        color: var(--link);
    }
}

.visibility {
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    opacity: 0.6;
    cursor: pointer;
}