.comments {
    &-title {
        background: var(--main-color);
        padding: 5px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 11px;
    }

    &-item {
        padding: 5px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 11px;
    }

    &-clear {
        display: flex;
        justify-content: center;
    }
}

nz-table {
    overflow: auto;
    height: 100%;
    
    th {
        background: var(--main-color);
    }
}

.green-bg {
    background: #d4ffd4;
}

::ng-deep tr.ant-table-expanded-row>td,
tr.ant-table-expanded-row>td {
    background: #f1eaff !important;
    padding: 0 0 10px 0;
}

::ng-deep .ant-table table {
    text-align: center;
}