<div class="forget">
    <div class="forget-title">
        {{ "forgetPassword" | translate }}
    </div>

    <div class="flex-grow-1">
        <form class="forget-form" [formGroup]="form">
            <input nz-input [placeholder]="'email' | translate" formControlName="email" />
        </form>
        <div class="forget-submit">
            <button nz-button nzType="primary" [nzLoading]="forgetLoading" (click)="forget_onClick()">
                {{ "submit" | translate }}
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <button class="option" (click)="login_onClick()">
            {{ "getIn" | translate }}
        </button> |
        <button class="option" (click)="signup_onClick()">
            {{ "register" | translate }}
        </button>
    </div>

</div>