<p-carousel [value]="images" [numVisible]="1" [circular]="false" autoplayInterval="3000"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-image>
        <div class="carousel-wrapper" [ngStyle]="{ height : styleConfig?.height }">
            <img [ngStyle]="{ 'max-width' : styleConfig?.imageWidth }" class="carousel-wrapper-image" [src]="image">
            <div *ngIf="showActions" class="carousel-wrapper-actions">
                <label class="primary-image" nz-checkbox [nzChecked]="getIndex(image) === primaryImageIndex"
                    (nzCheckedChange)="primary_onChange(image,$event)">
                    {{ 'primaryImage' | translate }}
                </label>
                <button class="mt-1" nz-button nzType="default" nzShape="circle" nzDanger>
                    <span class="red" nz-icon nzType="delete" nzTheme="outline" zPopconfirmPlacement="right"
                        nz-popconfirm nzPopconfirmTitle="حذف؟" nzOkText="بله" nzCancelText="خیر"
                        (nzOnConfirm)="deleteImage.emit(image)">
                    </span>
                </button>
            </div>
        </div>
    </ng-template>
</p-carousel>