.main {
    height: 100%;
    width: 100%;
    background: var(--main-bg);

    &-wrapper {
        height: calc(100vh - 90px);

        @media (min-width:1450px) {
            padding: 0px 150px !important;
        }

        @media (min-width:992px) and (max-width:1450px) {
            padding: 0px 100px !important;
        }
    }
}