.main {
    height: 100%;
    width: 100%;

    &-wrapper {
        height: calc(100vh - 100px);

        @media (min-width:1450px) {
            padding: 0px 150px !important;
        }

        @media (min-width:992px) and (max-width:1450px) {
            padding: 0px 100px !important;
        }

        @media (max-width:992px) {
            padding: 0px 3px !important;
        }

        @media (max-width:767px) {
            height: calc(100vh - 180px);
        }
    }
}