.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fielder {
    min-height: 65px;
}

.save {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        width: 300px;
    }
}

form {
    overflow: hidden auto;
    padding-bottom: 10px;
}

.required {
    color: rgba(255, 0, 0, 0.882);

    &::after {
        content: '  *';
    }
}