.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fielder {
    min-height: 65px;
}

.save {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        width: 300px;
    }
}

.form {
    flex-grow: 1;
    padding: 0 0.5rem;
    overflow: hidden auto;
    padding-bottom: 10px;
    position: relative;

    &-image {
        position: absolute;
        opacity: 0.2;
        height: 400px;
    }

    input,
    textarea {
        background: #ffffff91 !important;
    }
}

.phone-example {
    font-size: 11px;
    margin: 0 5px;
}

@media (max-width: 767px) {
    ::ng-deep .ant-alert-content {
        font-size: 11px;
    }
}

.pay-image {
    height: 20px;
    padding: 0 10px;
}

.location-image {
    height: 25px;
    padding: 0 5px;
}