<div class="wrapper">
    <div class="wrapper-title">
        {{ 'shopCard' | translate }}
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 px-0">
            <div class="box info">
                <div class="finalize">
                    {{ "makeOrderFinal" | translate }}
                </div>
                <div class="total-price">
                    <b>{{ "totalPrice" | translate }}: {{ totalPrice | currencyPipe }} {{ "currency" | translate }}</b>
                    <button [disabled]="amountError" class="mt-4 sender-button" nz-button nzType="default"
                        (click)="onConfirmCard()">
                        {{ "senderDetails" | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xl-19 col-lg-9 col-md-9 col-sm-12 px-0 overflow-auto page-h">
            @for (card of cards; track $index) {
            <div class="box">
                <!-- <img class="box-image" [src]="card.imageUrl" alt=""> -->
                <div class="box-detail flex-grow">
                    <div>
                        <div class="box-detail-title">
                            <a (click)="navigateToProduct(card)">{{ card.title }}</a>
                        </div>
                        <div class="box-detail-price"> {{ "price" | translate }}:
                            <span class="mx-1"> {{ card.price | currencyPipe }} </span>
                            {{ "currency" | translate }}
                        </div>
                    </div>

                    @if (card.inCardAmount > card.amount) {
                    <nz-alert nzType="error" [nzMessage]="amountError"></nz-alert>
                    <ng-template #amountError>
                        {{ "notAvailableAmount" | translate }}
                    </ng-template>
                    }
                    <div class="w-100 d-flex justify-content-between">
                        <nz-button-group>
                            <button nz-button (click)="minCount(card)"><span nz-icon nzType="minus"></span></button>
                            <div class="mx-3 mt-1">
                                {{ card.inCardAmount }}
                            </div>
                            <button nz-button (click)="addCount(card)"><span nz-icon nzType="plus"></span></button>
                        </nz-button-group>
                        <span class="red cursor-pointer" nz-icon nzType="delete" nzTheme="outline"
                            (click)="deleteFromShopCard(card)">
                        </span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>