.wrapper {
    height: 100%;
    overflow: hidden;
    padding: 0 0 15px 0;
    display: flex;
    position: relative;
    flex-direction: column;
}

.box {
    position: relative;
    height: fit-content;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: var(--main-shadow);
    border-radius: 5px;
    background: #fff;
    padding: 0 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    &-error {
        height: 170px;
        position: absolute;
        left: 40px;
        opacity: 0.2;
    }

    &-image {
        max-height: 200px;
        width: 150px;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        border-right: 1px solid rgb(235, 235, 235);
        padding: 10px 25px 10px 0;
        /* todo: styles for ltr */

        &-title {
            color: var(--link);
            margin-top: 10px;
            font-weight: 800;
            font-size: 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        &-price {
            margin-top: 20px;
        }

        &-quantity {
            margin-top: 10px;
            font-size: 12px;
        }

        &-size {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

@media (max-width:767px) {
    .info {
        height: 140px !important;
    }

    .box {
        &-detail {
            border-top: unset;

            &-title {
                font-size: 12px;
            }

            &-price {
                font-size: 11px;
            }
        }
    }

    .wrapper {
        padding: 0;
    }

    ::ng-deep .ant-scroll-number {
        span {
            margin-top: 2px;
        }
    }


}

.right {
    height: calc(100vh - 150px) !important;
    overflow: auto;

    @media (max-width: 767px) {
        padding-left: 3px;
        height: calc(100vh - 350px) !important;
    }
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    height: 150px;

    &-image {
        position: absolute;
        left: 0;
        right: 10px;
        top: 0;
        bottom: 0;
        height: 130px;
        opacity: 0.2;
    }
}

.total-price {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.finalize {
    border-bottom: 1px solid rgb(205, 205, 205);
    padding-bottom: 5px;
    margin-bottom: 5px;

    &-image {
        height: 20px;
        padding: 0 5px;
    }
}

.sender-button {
    width: fit-content;

    &-image {
        height: 20px;
        padding: 0 5px;
    }
}

nz-button-group {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #fff;

        span {
            font-size: 12px;
        }
    }
}

.red-card {
    border: 1px solid rgba(255, 0, 0, 0.411);
}

.delete {
    margin-right: 30px;
    font-size: 20px;
    border: 1px solid #e5e5e5;
    padding: 6px;
    border-radius: 20px;
    color: red;
    cursor: pointer;
}

.empty-shop {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
        height: 200px;
    }

    &-text {
        font-size: 18px;
        margin-top: 15px;
    }
}