<div class="d-flex flex-column h-100">
    <div class="wrapper-title">
        {{ 'shopCard' | translate }}
    </div>
    <div class="wrapper">
        <div class="row position-relative">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 px-0">
                <div class="box info">
                    <div class="finalize">
                        {{ "makeOrderFinal" | translate }}
                    </div>

                    <div class="total-price">
                        <b>{{ "totalPrice" | translate }}:
                            @if (totalPrice > 0) {
                            {{ totalPrice | currencyPipe }} {{ "currency" | translate}}
                            }
                        </b>
                        <button [disabled]="disableConfirmCard()" class="mt-4 sender-button" nz-button nzType="default"
                            (click)="onConfirmCard()">
                            {{ "senderDetails" | translate }}
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-xl-19 col-lg-9 col-md-9 col-sm-12 px-0 left">
                @if (dataLoading) {
                <div class="w-100 d-flex justify-content-center">
                    <loading></loading>
                </div>
                }
                @for (card of cards; track $index) {
                <div class="box" [class.red-card]="hasAmountError(card)">
                        <!-- <img class="box-image" [src]="card.product.product.imageUrl"> -->
                    <div class="box-detail flex-grow">
                        <div>
                            <div class="box-detail-title">
                                <a (click)="navigateToProduct(card.product.product)">{{ card.product.product.title
                                    }}</a>
                            </div>
                            <div class="box-detail-price"> {{ "price" | translate }}:
                                <span class="mx-1"> {{ card.product.product.price | currencyPipe }} </span>
                                {{ "currency" | translate }}
                            </div>
                            @if (card.shopCard.size) {
                            <div class="box-detail-size"> {{ "size" | translate }}:
                                <span class="mx-1"> {{ card.shopCard.size }} </span>
                            </div>
                            }
                            <div class="box-detail-quantity"> {{ "quantity" | translate }}:
                                <span class="mx-1"> {{ card.shopCard.amount }} </span>
                            </div>
                        </div>

                        @if (hasAmountError(card)) {
                        <nz-alert class="py-2" nzType="error" [nzMessage]="amountError"></nz-alert>
                        <ng-template #amountError>
                            {{ "notAvailableAmount" | translate }}
                        </ng-template>
                        }
                        <div class="w-100 d-flex justify-content-end">
                            <span class="delete" nz-icon nzType="delete" nzTheme="outline" nz-button
                                (click)="deleteFromShopCard(card.shopCard.shopCardId)">
                            </span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>