.ant-input,
.ant-select {
    height: 40px;
    border-radius: var(--main-border-radius);
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input[disabled],
.ant-btn[disabled] {
    color: #000;
}

.ant-input[disabled] {
    background: #fff;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    background: #fff;
}