:root {
    --main-bg: #f9f9f9dc;
    --link: #6298e9;
    --main-color: rgba(200, 226, 255, 0.5803921569);
    --main-shadow: 1px 5px 11px 0px #ebebeb;
    --main-border-radius: 5px;
    --main-border: 1px solid #f3f3f3;
    --page-title-bg: rgba(200, 226, 255, 0.5803921569);
}