:root {
    --main-bg: #fff;
    --header-bg: rgba(200, 226, 255, 0.5803921569);
    --link: #6298e9;
    --main-color: rgba(200, 226, 255, 0.5803921569);
    --main-shadow: 1px 5px 11px 0px #ebebeb;
    --main-border-radius: 5px;
    --page-title-bg: rgba(200, 226, 255, 0.5803921569);
}