:root {
    --main-bg: #f0f0f0a6;
    --link: #6298e9;
    --main-color: rgba(200, 226, 255, 0.5803921569);
    --main-shadow: 1px 1px 10px #d6d6d6;
    --main-border-radius: 5px;
    --wrapper-title-bg: #fff;
}