<div class="d-flex flex-column h-100">

  <div class="page-title">
    {{ "categories" | translate }}
    <div *ngIf="client.isAdmin" class="page-title-add" (click)="openCategoryModal()">
      <button class="new-category">
        <span class="new-category-text px-1">{{ "newCategory" | translate }}</span>
        <img src="assets/svg/add.svg">
      </button>
    </div>
  </div>

  <div class="wrapper">
    @if (dataLoading && !dataLoading.closed) {
    <loading class="mt-5"></loading>
    }@else {
    <div class="row">
      @for (cat of categories; track cat; let i = $index) {
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 custom-padding">
        <div class="board" (click)="board_onClick(cat)">
          <app-steam></app-steam>
          <div class="board-image">
            <img [src]="cat.imageUrl" [alt]="cat.categoryName" />
          </div>
          <div class="board-data">
            <div class="board-data-name">
              {{ cat.categoryName }}
            </div>
            <div class="board-data-count">
              {{ "productsCount" | translate }}: {{ cat.productCount }}
            </div>
            @if (client.isAdmin) {
            <div class="board-data-icons">
              <button class="mx-1" nz-button nzType="default" nzShape="circle"
                (click)="openCategoryModal(cat); $event.stopPropagation()">
                <span class="blue" nz-icon nzType="edit" nzTheme="outline">
                </span>
              </button>
              <button class="mx-1" nz-button nzType="default" nzShape="circle" (click)="$event.stopPropagation()"
                nzDanger>
                <span class="red" nz-icon nzType="delete" nzTheme="outline" nzPopconfirmPlacement="right" nz-popconfirm
                  nzPopconfirmTitle="حذف دسته بندی؟" nzOkText="بله" nzCancelText="خیر"
                  (nzOnConfirm)="deleteCategory_onConfirm(cat)">
                </span>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>