.wrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden auto;
  padding: 0 5px 15px 5px;
}

.custom-padding {
  @media (max-width: 767px) {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 767px) {
    margin-top: 24px;
  }
}

.board {
  @media (max-width: 767px) {
    width: 80%;
  }

  padding: 14px;
  box-shadow: var(--main-shadow);

  &-image {
    height: 180px;
    background-color: rgba(241, 241, 241, 0.379);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: fit-content;
      max-height: 180px;
    }
  }

  &-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 120px;

    &-icons {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -7px;
      left: -11px;
      font-size: 18px;
    }

    &-count {
      padding-top: 5px;
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  // .board {
  //   position: relative;
  //   display: flex;
  //   align-items: center;

  //   &-image {
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     opacity: 0.5;
  //   }

  //   &-data {
  //     height: 100%;
  //     z-index: 1;
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;

  //     &-name {
  //       font-size: 30px;
  //       font-weight: 500;
  //     }

  //     &-icons {
  //       bottom: 5px;
  //       left: 0;
  //     }
  //   }
  // }

  .new-category-text {
    display: none;
  }
}

.page-title-add {
  position: absolute;
  left: 10px;
  top: 4px;
  cursor: pointer;

  img {
    height: 20px;
  }

  .new-category {
    border: unset;
    font-size: 12px;
    background: aliceblue;
    padding: 2px 7px;
    border-radius: var(--main-border-radius);
  }
}