<div class="d-flex flex-column h-100">
    <div class="wrapper-title">
        {{ 'trackOrder' | translate }}
    </div>
    <div class="wrapper">
        <nz-alert class="mt-3" nzType="info" [nzMessage]="login">
        </nz-alert>
        <ng-template #login>
            {{ 'loginToSeeOrders' | translate }} <button class="button" (click)="navigateLogin()">
                {{ "getIn" | translate }}
            </button>
        </ng-template>

        <div class="w-100 d-flex justify-content-center mt-3">
            <div class="fielder align-items-center">
                <div class="fielder-title">
                    {{ "enterOrderCode" | translate }}:
                </div>
                <input nz-input [formControl]="orderCodeControl" />
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <button nz-button nzType="primary" (click)="track_onClick()"
                [nzLoading]="trackLoading && !trackLoading.closed"> {{ "search" | translate }}
            </button>
        </div>
        @if(orderNotFound){
        <div class="d-flex justify-content-center">
            <nz-alert class="mt-3" nzType="error" nzMessage="کد پیگیری اشتباه است">
            </nz-alert>
        </div>
        }
        @if(order){
        <div class="order">
            <div class="box mt-2 p-1">
                <div class="box-header">
                    <div [ngSwitch]="order.order.status">
                        <div *ngSwitchCase="0">
                            <nz-alert nzType="warning" nzMessage="پرداخت شده و در انتظار ارسال" nzShowIcon>
                            </nz-alert>
                        </div>
                        <div *ngSwitchCase="1">
                            <nz-alert nzType="info" nzMessage="ارسال شده توسط فروشنده" nzShowIcon></nz-alert>
                        </div>
                        <div *ngSwitchCase="2">
                            <nz-alert nzType="success" nzMessage="تحویل توسط مشتری" nzShowIcon></nz-alert>
                        </div>
                    </div>
                </div>
                <div class="row box-content">
                    @if (order.order.status === 3) {
                    <div class="not-deliver">
                        <nz-alert nzType="warning" [nzMessage]="weCallYou">
                        </nz-alert>
                        <ng-template #weCallYou>
                            {{ 'weWillCallYouAboutDeliver' | translate: { phoneNumber: order.order.receiverPhone } }}
                            <span class="mt-1" nz-icon nzType="phone" nzTheme="outline"></span>
                        </ng-template>
                    </div>
                    }
                    <div class="w-100 d-flex flex-column">
                        <div class="my-1">
                            <b>{{ 'receiver' | translate }} :</b> {{ order.order.receiverName }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'orderDate' | translate }} :</b> {{ order.date }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'orderTotalPrice' | translate }} :</b> {{ order.totalPrice | currencyPipe }}
                            {{ 'currency' | translate }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'receiverAddress' | translate }} :</b> {{ order.order.address }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'phone' | translate }} :</b> {{ order.order.receiverPhone }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'postalCode' | translate }} :</b> {{ order.order.postalCode }}
                        </div>
                        <div class="my-1">
                            <b>{{ 'orderCode' | translate }} :</b> {{ order.order.code }}
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 flex-grow product-field">
                        @for (product of order.products; track $index) {
                        <div class="box-product" (click)="navigateToProduct(product.product)">
                            <img [src]="product.product.imageUrl">
                            <div class="box-product-title">
                                {{ product.product.title }}
                            </div>
                            <div class="box-amount-price">
                                <b>{{ 'price' | translate }} :</b> {{ product.product.price | currencyPipe }}
                                {{ 'currency' | translate }}
                            </div>
                            <div class="box-product-amount">
                                <b>{{ 'quantity' | translate }} :</b> {{ product.amount }}
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>