<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="box">
            <!-- <c-carousel [interval]="5000" transition="slide">
                <c-carousel-inner>
                    <c-carousel-item *ngFor="let slide of mostBuy">
                        <img [src]="slide.src" alt="{{slide.title}}" class="d-block w-100" loading="lazy" />
                    </c-carousel-item>
                </c-carousel-inner>
            </c-carousel> -->
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="box"></div>
    </div>
    <div class="col-12 mt-3">
        
    </div>
</div>