.wrapper {
    position: relative;
    flex-grow: 1;
    overflow: hidden auto;
    padding: 0 5px 15px 5px;
}

.see-all {
    height: 50px;
    width: 100%;
    padding: 14px;
    background: #fff;
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius);
    display: flex;
    justify-content: center;
    align-self: center;

    &-button {
        margin-top: -5px;
        border: none;
        background: transparent;
        font-size: 13px;

        img {
            vertical-align: middle;
            height: 30px;
        }
    }
}

.tops {
    height: 200px;
    margin: 20px 0 0 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    &-title {
        background: aliceblue;
        width: fit-content;
        padding: 0 10px;
        border-radius: var(--main-border-radius);
        box-shadow: var(--main-shadow);
        margin-bottom: 10px;
        font-size: 14px;
        color: #000000b9;
    }

    &-items {
        width: 100%;
        display: flex;
        flex-grow: 1;

        &-item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
            border-radius: var(--main-border-radius);
            box-shadow: var(--main-shadow);
            margin: 4px;

            &-title {
                font-size: 11px;
                margin-bottom: 10px;

                @media (max-width:767px) {
                    font-size: 10px;
                }
            }

            padding: 5px;
            flex-grow: 1;

            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}

.item {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    @media (max-width: 767px) {
        margin: 20px 0;
    }

    direction: ltr;

    &-title {
        direction: rtl;
        font-size: 17px;
    }

    &-desc {
        font-size: 12px;
    }

    &-image {
        height: 65px;
        margin: -10px 0 0 10px;
        opacity: 0.9;
    }
}

.social {
    margin: 0 20px;
    padding: 10px 20px;
    height: 175px;
    background: #1db0e6c7;
    box-shadow: var(--main-shadow);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;

        @media (max-width:767px) {
            font-size: 17px;
        }
    }

    &-info {
        flex-grow: 1;
        direction: rtl;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        &-item {
            cursor: pointer;
            margin-bottom: 10px;
            color: #fff;

            img {
                height: 40px;
                margin-left: 10px;
            }
        }
    }

    @media (max-width:767px) {
        margin-bottom: 10px;
        border-radius: 30px;
    }
}

.detail {
    margin: 0 20px;
    padding: 10px 20px;
    height: 175px;
    background: #967effc7;
    box-shadow: var(--main-shadow);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;

        @media (max-width:767px) {
            font-size: 17px;
        }
    }

    @media (max-width:767px) {
        border-radius: 30px;
    }
}