<div class="d-flex flex-column h-100">
    <div class="page-title">
        <div *ngIf="client.isLogin && !client.isAdmin" class="page-title-actions">
            <div *ngIf="client.isLogin && !client.isAdmin" class="saved">
                <img [src]="saveSvgPath" (click)="saveChange_onClick()">
            </div>
            <div class="like">
                <img [src]="likeSvgPath" (click)="likeChange_onClick()">
                <span *ngIf="product?.product.likes > 0">
                    {{ product?.product.likes }}
                </span>
            </div>
        </div>
        {{ 'productDetails' | translate }}
        <div class="page-title-back" (click)="back()">
            <img class="page-title-back-icon" src="assets/svg/back.svg">
            {{ 'back' | translate }}
        </div>
        <div *ngIf="client.isAdmin" class="page-title-crud" (click)="onCrud()">
            <span class="page-title-crud-text px-1">{{ "productCrud" | translate }}</span>
            <img src="assets/svg/product-crud.svg">
        </div>
    </div>
    <div class="wrapper">
        <ng-container *ngIf="product">
            <div class="row" [class.admin-row]="client.isLogin && client.isAdmin">
                <div class="col-xl-3 col-lg-3 col-md-3 mobile-footer" [class.hide]="client.isLogin && client.isAdmin">
                    <div class="confirm">
                        <ng-container *ngIf="productIsAvailable(); else notAvailable">
                            <ng-container *ngIf="productInShopCardFlag; else notInCardButton">
                                <img class="confirm-button-card" src="assets/svg/shop-card.svg" (click)="goToCard()">
                                <div class="confirm-button">
                                    <div class="confirm-button-plus" (click)="plus_onClick()">+</div>
                                    <div class="confirm-button-count">
                                        {{ wantToBuyAmount }}
                                    </div>
                                    <ng-container *ngIf="wantToBuyAmount === 1; else showMinus">
                                        <span nz-icon class="red" nzType="delete" nzTheme="outline"
                                            (click)="delete_onClick()" nzDanger></span>
                                    </ng-container>
                                </div>
                                <ng-template #showMinus>
                                    <div class="confirm-button-minus" (click)="minus_onClick()">-</div>
                                </ng-template>
                            </ng-container>
                            <ng-template #notInCardButton>
                                <ng-container *ngIf="client.isLogin">
                                    <div class="d-flex w-100">
                                        <button class="confirm-button" (click)="addToCard_onClick()">
                                            {{ 'addToCard' | translate }}
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!client.isLogin">
                                    <button class="confirm-button" (click)="register_onClick()">
                                        {{ 'loginButton' | translate }}
                                    </button>
                                </ng-container>
                            </ng-template>
                        </ng-container>
                        <ng-template #notAvailable>
                            <div class="confirm-button red">
                                {{ 'notAvailable' | translate }}
                            </div>
                        </ng-template>
                        <div class="confirm-price">
                            <span class="confirm-price-name">{{ 'price' | translate }}:</span>
                            <span>
                                <span class="confirm-price-price">{{ product.product.price | currencyPipe }}</span>
                                <span class="confirm-price-currency">{{ 'currency' | translate }} </span>
                            </span>
                        </div>
                        <div class="confirm-original">
                            <img src="assets/svg/original-buy.svg">
                            <span>{{ 'originalGuaranty' | translate }}</span>
                        </div>
                        <div class="confirm-health">
                            <img src="assets/svg/health-delivary.svg">
                            <span>{{ 'healthDelivery' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="detail">
                        <div class="detail-title">
                            <span class="detail-title-category"> {{ 'inCategoryOf' | translate }}
                                {{ product.product.categoryName }}
                            </span>
                            {{ product.product.title }}
                        </div>
                        <ng-container *ngIf="product.productSize.length">
                            <div class="detail-size">
                                <div class="detail-size-title">
                                    {{ 'selectSize' | translate }} :
                                </div>
                                <div class="detail-size-sizes">
                                    <ng-container *ngFor="let size of product.productSize">
                                        <button class="detail-size-sizes-button"
                                            [class.detail-size-sizes-button-disabled]="size.amount < 1"
                                            [disabled]="size.amount < 1"
                                            [class.detail-size-sizes-button-active]="selectedSize === size"
                                            (click)="selectSize_onClick(size)">
                                            {{ size.size }}
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="product.productAbout.length">
                            <div class="detail-properties">
                                <div class="detail-properties-title">
                                    {{ 'properties' | translate }}
                                </div>
                                <ng-container *ngFor="let row of product.productAbout">
                                    <div class="detail-properties-row">
                                        <div class="detail-properties-row-key">
                                            - {{row.key}} :
                                        </div>
                                        <div class="detail-properties-row-value">
                                            {{row.value}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="images">
                        <app-gallery [images]="product?.product.imageUrl"></app-gallery>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>