@import "../../../shared/style/mixins.scss";

.menu {
    padding: 10px 5px;

    &-item {
        font-size: 12px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 5px;
    }
}

.active {
    border: 1px solid #66aaff;
    background: aliceblue;
}

.right {
    background: #fff;
    border-radius: var(--main-border-radius);
    height: 100%;
}

@media (min-width: 767px) {
    .menu-item-icon {
        display: none;
    }
}

@include respond (md) {
    .md-no-padding {
        padding: 0 !important;
    }

    .menu {
        padding: 0 5px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        z-index: 1;

        &-item {
            height: 52px;
            border-radius: 15px;

            &-text {
                display: none;
            }

            &-icon {
                img {
                    height: 20px;
                }
            }
        }
    }

    .right {
        height: 0;
    }

    .pages {
        height: calc(100vh - 220px) !important;
    }
}

.pages {
    height: calc(100vh - 100px);
    overflow: hidden;
}