<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 right">
        <div class="w-100 d-flex justify-content-center">
            <div class="menu">
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/product-management"
                    routerLinkActive="active">
                    {{ 'productManagement' | translate }}
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/product-crud"
                    routerLinkActive="active">
                    {{ 'addProduct' | translate }}
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/all-comments"
                    routerLinkActive="active">
                    {{ 'comments' | translate }}
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/orders"
                    routerLinkActive="active">
                    {{ 'usersOrders' | translate }}
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/users-list"
                    routerLinkActive="active">
                    {{ 'userManagement' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 md-no-padding">
        <div class="pages">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>