<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 right">
        <div class="w-100 d-flex justify-content-center">
            <div class="menu">
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/product-management"
                    routerLinkActive="active">
                    <div class="menu-item-text">
                        {{ 'productManagement' | translate }}
                    </div>
                    <div class="menu-item-icon">
                        <img src="assets/svg/product-management.svg">
                    </div>
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/product-crud"
                    routerLinkActive="active">
                    <div class="menu-item-text">
                        {{ 'addProduct' | translate }}
                    </div>
                    <div class="menu-item-icon">
                        <img src="assets/svg/product-crud.svg">
                    </div>
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/orders"
                    routerLinkActive="active">
                    <div class="menu-item-text">
                        {{ 'usersOrders' | translate }}
                    </div>
                    <div class="menu-item-icon">
                        <img src="assets/svg/users-orders.svg">
                    </div>
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/users-list"
                    routerLinkActive="active">
                    <div class="menu-item-text">
                        {{ 'userManagement' | translate }}
                    </div>
                    <div class="menu-item-icon">
                        <img src="assets/svg/users-list.svg">
                    </div>
                </button>
                <button class="menu-item" nz-button nzType="default" routerLink="/admin/all-comments"
                    routerLinkActive="active">
                    <div class="menu-item-text">
                        {{ 'comments' | translate }}
                    </div>
                    <div class="menu-item-icon">
                        <img src="assets/svg/all-comments.svg">
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 md-no-padding">
        <div class="pages">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>