.box {
    height: calc(100vh - 140px);
}

.menu {
    height: 100%;

    &-item {
        font-size: 12px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 5px;
    }
}

.active {
    border: 1px solid #66aaff;
    background: aliceblue;
}