.box {
    height: calc(100vh - 100px);
}

.menu {
    padding: 10px 5px;

    &-item {
        font-size: 12px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 5px;
    }
}

.active {
    border: 1px solid #66aaff;
    background: aliceblue;
}

.right {
    background: #fff;
    border-radius: 4px;

    @media (max-width: 767px) {
        height: fit-content;
    }
}