@import url('../../../../shared/style/nz-tab.style.scss');
@import url('../../../../shared/style/nz-select.style.scss');

.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tabset {
    overflow: auto;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-grow: 1;
    width: 100%;
}

.fielder {
    direction: ltr;
}

.delete {
    font-size: 14px;
    color: red;
    margin: 0 10px;
    cursor: pointer;
}

.size-checkbox {
    font-size: 15px;
    margin: 0 10px;
}

.new-size-btn {
    width: 120px;
    margin-top: 10px;
}

.save {
    position: absolute;
    left: 4px;
    top: 8px;
    z-index: 1;
}

.size-wrapper {
    display: flex;
    justify-content: center;
    direction: ltr;
    margin-bottom: 2px;

    &-half {
        display: flex;
        margin: 0 20px;
        direction: rtl;
    }

    &-field {
        width: 200px;
        height: 40px;
    }

    &-title {
        margin: 10px 0 0 10px;
    }

    @media (max-width: 767px) {
        &-field {
            width: 120px;
            height: 35px;
        }

        &-title {
            display: none;
        }
    }

}

.color-wrapper {
    direction: ltr;
    display: flex;
    justify-content: center;

    &-delete {
        font-size: 22px;
        margin-right: 20px;
        color: red;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ededed;
        border-radius: 19px;
    }
}

::ng-deep .anticon svg {
    margin-left: 5px;
}