<div class="wrapper">
    <button nz-button nzType="primary" class="save" (click)="onSubmit()"
        [nzLoading]="saveLoading && !saveLoading.closed">
        {{ "submit" | translate }}
    </button>
    <nz-tabset class="tabset" (nzSelectChange)="tabIndex_onChange($event)" [nzSelectedIndex]="tabIndex">
        <nz-tab nzTitle="مشخصات">
            <form [formGroup]="form" class="form">
                <div class="fielder align-items-end w-100">
                    <div class="fielder-title" [class.required]="form.get('categoryId').hasError('required')">{{
                        "category" |
                        translate }}</div>
                    <nz-select class="w-100" formControlName="categoryId">
                        @for (item of categories; track $index) {
                        <nz-option [nzValue]="item.categoryId" [nzLabel]="item.categoryName ?? ''"></nz-option>
                        }
                    </nz-select>
                </div>
                <div class="fielder align-items-end w-100">
                    <div class="fielder-title" [class.required]="form.get('title').hasError('required')">{{
                        "productTitle" | translate }}</div>
                    <input nz-input formControlName="title" />
                </div>
                <div class="fielder align-items-end w-100">
                    <div class="fielder-title" [class.required]="form.get('price').hasError('required')">{{ "price" |
                        translate }} ({{ "currency" | translate }})</div>
                    <input nz-input formControlName="price" priceFormat />
                </div>
                <div class="fielder align-items-end w-100">
                    <div class="fielder-title">{{ "amount" | translate }}</div>
                    <input nz-input formControlName="amount" type="number" />
                </div>
                <div class="fielder align-items-end w-100">
                    <div class="fielder-title">{{ "details" | translate }}</div>
                    <editor class="w-100" formControlName="description" [apiKey]="tinyApi" [init]="tinyConfig"></editor>
                </div>
            </form>
        </nz-tab>

        <nz-tab nzTitle="عکس ها">
            <div class="fielder align-items-end w-100">
                <input class="d-none" type="file" (change)="image_onSelect($event)" #uploader />
                <button nz-button nzType="default" class="mb-3" (click)="triggerFileInput()">
                    {{ "uploadImage" | translate }}
                </button>
                <div class="w-100 d-flex justify-content-center mt-2">
                    <app-carousel [primaryImageIndex]="primaryImageIndex" [showActions]="true" [images]="uploadedImages"
                        [styleConfig]="carouselStyleConfig" (deleteImage)="deleteImage_onClick($event)"
                        (primaryChange)="primaryIndex_onChange($event)"></app-carousel>
                </div>
            </div>
        </nz-tab>

        <nz-tab nzTitle="سایز بندی">
            <div class="fielder d-flex flex-column w-100 align-items-end">
                <div>
                    <span class="size-checkbox">{{ "hasSizing" | translate }}</span>
                    <label nz-checkbox [formControl]="sizingCheckbox">
                    </label>
                </div>
                <button *ngIf="hasSizing" nz-button nzType="default" class="new-size-btn"
                    (click)="addSizeRow_onClick()">
                    {{ "newSize" | translate }}
                </button>
            </div>
            <div *ngIf="hasSizing" class="my-1">
                @for (row of getFormArrayItemValue(); track $index) {
                <ng-container *ngIf="row?.amount != null">
                    <div class="size-wrapper">
                        <span class="delete" nz-icon nzType="delete" nzTheme="outline"
                            (click)="deleteSizeRow_onClick($index)">
                        </span>
                        <div class="size-wrapper-half">
                            <span class="size-wrapper-title">
                                {{ "amount" | translate }}:
                            </span>
                            <input class="size-wrapper-field" type="number" nz-input placeholder="موجودی"
                                [(ngModel)]="row.amount" />
                        </div>
                        <div class="size-wrapper-half">
                            <span class="size-wrapper-title">
                                {{ "size" | translate }}:
                            </span>
                            <input class="size-wrapper-field" nz-input placeholder="عنوان سایز"
                                [(ngModel)]="row.size" />
                        </div>
                    </div>
                </ng-container>
                }
            </div>
        </nz-tab>

        <nz-tab nzTitle="رنگ بندی">
            <div class="fielder d-flex flex-column w-100 align-items-end">
                <div>
                    <span class="size-checkbox">{{ "hasColor" | translate }}</span>
                    <label nz-checkbox [formControl]="colorCheckbox">
                    </label>
                </div>
                <button *ngIf="hasColor" nz-button nzType="default" class="new-size-btn"
                    (click)="addColorRow_onClick()">
                    {{ "newColor" | translate }}
                </button>
            </div>
            <div *ngIf="hasColor" class="my-1">
                @for (row of getColorFormArrayItemValue(); track $index) {
                <div class="color-wrapper">
                    <span class="color-wrapper-delete" nz-icon nzType="delete" nzTheme="outline"
                        (click)="deleteColorRow_onClick($index)">
                    </span>
                    <nz-color-picker [(ngModel)]="row.color"></nz-color-picker>
                </div>
                }
            </div>
        </nz-tab>

        <nz-tab nzTitle="ویژگی ها">
            <div class="fielder d-flex flex-column w-100 align-items-end">
                <button nz-button nzType="default" class="new-size-btn" (click)="addPropertyRow_onClick()">
                    {{ "newAbout" | translate }}
                </button>
            </div>
            <div class="my-1">
                @for (row of getAboutFormArrayItemValue(); track $index) {
                <ng-container *ngIf="row">
                    <div class="size-wrapper">
                        <span class="delete" nz-icon nzType="delete" nzTheme="outline"
                            (click)="deleteAboutRow_onClick($index)">
                        </span>
                        <div class="size-wrapper-half">
                            <span class="size-wrapper-title">
                                {{ "value" | translate }}:
                            </span>
                            <input class="size-wrapper-field" nz-input placeholder="مقدار" [(ngModel)]="row.value" />
                        </div>
                        <div class="size-wrapper-half">
                            <span class="size-wrapper-title">
                                {{ "title" | translate }}:
                            </span>
                            <input class="size-wrapper-field" nz-input placeholder="عنوان" [(ngModel)]="row.key" />
                        </div>
                    </div>
                </ng-container>
                }
            </div>
        </nz-tab>
    </nz-tabset>
</div>