<div class="d-flex flex-column h-100">
    <div class="w-100">
        <button [class.active]="selectedIndex === -1" class="w-20" nz-button nzType="default" (click)="getOrders()">
            {{ 'allOrders' | translate }} ({{ tabsBadge.all }})
        </button>
        <button [class.active]="selectedIndex === 0" class="w-20" nz-button nzType="default" (click)="getOrders(0)">
            {{ 'new' | translate }} ({{ tabsBadge.waiting }})
        </button>
        <button [class.active]="selectedIndex === 1" class="w-20" nz-button nzType="default" (click)="getOrders(1)">
            {{ 'sent' | translate }} ({{ tabsBadge.sent }})
        </button>
        <button [class.active]="selectedIndex === 2" class="w-20" nz-button nzType="default" (click)="getOrders(2)">
            {{ 'confirmed' | translate }} ({{ tabsBadge.confirmed }})
        </button>
        <button [class.active]="selectedIndex === 3" class="w-20" nz-button nzType="default" (click)="getOrders(3)">
            {{ 'notDelivered' | translate }} <span class="red px-1">({{ tabsBadge.notDelivered }})</span>
        </button>
    </div>
    <div class="wrapper flex-grow">
        <div class="row">
            @if (dataLoading && !dataLoading.closed) {
            <loading class="mt-5"></loading>
            }@else {
            @for (order of orders; track $index) {
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box mt-2 p-1">
                    <div class="box-header">
                        <div [ngSwitch]="order.status">
                            <div *ngSwitchCase="0">
                                <nz-alert nzType="warning" nzMessage="پرداخت شده و در انتظار ارسال" nzShowIcon>
                                </nz-alert>
                            </div>
                            <div *ngSwitchCase="1">
                                <nz-alert nzType="info" nzMessage="ارسال شده توسط فروشنده" nzShowIcon></nz-alert>
                            </div>
                            <div *ngSwitchCase="2">
                                <nz-alert nzType="success" nzMessage="تحویل توسط مشتری" nzShowIcon></nz-alert>
                            </div>
                        </div>
                        @if (order.status === 0) {
                        <button class="fit" nz-button nzType="default" nz-popconfirm nzOkText="تایید" nzCancelText="نه"
                            nzPopconfirmTitle="تایید ارسال توسط پست" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="changeStatus(order, 1)">
                            {{ 'sentViaPost' | translate }}
                        </button>
                        }
                        @if (order.status === 1 || order.status === 3) {
                        <button class="fit" nz-button nzType="default" nz-popconfirm nzOkText="تایید" nzCancelText="نه"
                            nzPopconfirmTitle="تایید دریافت توسط مشتری" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="changeStatus(order, 2)">
                            {{ 'receivedByClient' | translate }}
                        </button>
                        }
                    </div>
                    <div class="row box-content">
                        <div class="w-100 d-flex flex-column">
                            <div class="my-1">
                                <b>{{ 'receiver' | translate }} :</b> {{ order.receiverName }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'email' | translate }} :</b> {{ order.receiverEmail }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'phone' | translate }} :</b> {{ order.receiverPhone }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'receiverAddress' | translate }} :</b> {{ order.address }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'description' | translate }} :</b> {{ order.description }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'postalCode' | translate }} :</b> {{ order.postalCode }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'orderTotalPrice' | translate }} :</b> {{ order.totalPrice | currencyPipe }} {{
                                'currency' | translate }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'productAmount' | translate }} :</b> {{ order.products.length }}
                            </div>
                            <div class="my-1">
                                <b>{{ 'orderDate' | translate }} :</b> {{ order.date }}
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 flex-grow product-field">
                            @for (product of order.products; track $index) {
                            <div class="box-product" (click)="navigateToProduct(product)">
                                <img [src]="product.imageUrl">
                                <div class="box-product-title">
                                    {{ product.title }}
                                </div>
                                <div class="box-amount-price">
                                    <b>{{ 'price' | translate }} :</b> {{ product.price | currencyPipe }} {{ 'currency'
                                    |
                                    translate }}
                                </div>
                                <div class="box-product-amount">
                                    <b>{{ 'quantity' | translate }} :</b> {{ product.inCardAmount }}
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
            @if (orders.length === 0) {
            <div class="w-100 d-flex justify-content-center mt-5">
                <nz-alert nzType="error" nzMessage="آیتمی وجود ندارد"></nz-alert>
            </div>
            }
            }
        </div>
    </div>
</div>