.wrapper {
    max-height: calc(100vh - 120px);
    overflow: hidden auto;
}

::ng-deep .ant-alert {
    width: fit-content;
    font-size: 12px;
    border-radius: 4px;
}

::ng-deep .ant-alert-icon {
    margin-left: 10px;
}

.box {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 1px 10px #dcdcdc;

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-content {
        padding: 10px;
        font-size: 14px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &-product {
        &:hover {
            background: aliceblue;
            box-shadow: 1px 1px 10px #dcdcdc;
        }

        cursor: pointer;
        width: 200px;
        height: 100%;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 4px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
            max-height: 110px;
        }

        &-title {
            font-size: 10px;
            font-weight: bold;
        }
    }
}

.product-field {
    display: flex;
}

@media (max-width: 1200px) {
    .product-field {
        flex-direction: column;
    }

    .box-product {
        margin: 5px 0;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .wrapper {
        height: calc(100vh - 170px);
    }

    .box-header {
        flex-direction: column;
    }

    .fit {
        margin-top: 10px;
    }

    .w-25 {
        font-size: 11px;
    }
}

.fit {
    font-size: 12px;
    width: fit-content;
    border: 1px solid rgba(4, 231, 0, 0.708) !important;
}

.active {
    border: 1px solid #83cfff;
    background: aliceblue;
}