.comment {
    margin: 0 10px;
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 14px;
        padding: 0 5px;
        width: fit-content;
        background: linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(206 202 255) 100%);
    }

    &-body {
        display: flex;

        textarea {
            min-height: 45px;
            margin-bottom: 10px;
            overflow-y: hidden;
            max-height: fit-content;
            padding: 5px;
            width: 100%;
            border: 1px solid rgb(232, 232, 232);
        }

        .actions {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
        }
    }
}

.read {
    background: #eaeaea !important;
}

::ng-deep .ant-table table {
    text-align: center;
}

nz-table {
    overflow: auto;
    height: 100%;

    th {
        background: var(--main-color);
    }

    td,
    th {
        font-size: 12px !important;
    }
}

@media (max-width: 767px) {

    td,
    th {
        font-size: 10px !important;
    }
}