.main {
    overflow: hidden;
    height: 100%;
    width: 100%;

    &-wrapper {
        height: 100%;
        padding: 10px 24px 0 24px;

        @media (min-width:1450px) {
            padding: 0px 50px !important;
        }

        @media (min-width:992px) and (max-width:1450px) {
            padding: 0px 20px !important;
        }

        @media (max-width:767px) {
            height: calc(100vh - 170px);
        }
    }
}