@import url('../src/app/shared/style/variables.scss');
@import url('../src/app/shared/style/scroll-bar.style.scss');
@import url('../src/app/shared/style/nz-field.style.scss');
@import url('../src/app/shared/style/page-title.style.scss');
@import url('../src/assets/fonts/fontiran.css');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    font-family: "IRANSans", "arial", sans-serif;
}

html,
body {
    height: auto !important;
    background: var(--main-bg) !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-bottom: env(safe-area-inset-bottom);
}

.ant-btn {
    border-radius: var(--main-border-radius) !important;
}

.required {
    color: rgba(255, 0, 0, 0.882);

    &::after {
        content: '  *';
    }
}

.red-splitter {
    border-right: solid 6px #ff4081 !important;
    cursor: ew-resize;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.user-none {
    user-select: none !important;
}

.board {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: var(--main-border-radius);
    cursor: pointer;

    &:hover {
        box-shadow: var(--main-shadow);
    }
}

nz-message .anticon {
    margin: 0 10px !important;
}

.w-150px {
    width: 150px;
}

.w-400px {
    width: 400px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.cursor-pointer {
    cursor: pointer;
}

/* form */

.fielder {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    &-title {
        margin: 0 4px 6px 0;
        font-size: 14px;
    }
}

button.submit {
    width: 100px;
    margin-top: 10px;
}

.w-20 {
    width: 20%;
}

input,
textarea {
    direction: rtl !important;
}