@import url('../src/app/shared/color/colors.scss');
@import url('../src/assets/fonts/fontiran.css');

* {
    font-family: "IRANSans", "arial", sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.normal-button {
    border: none;
    background-color: white;
    min-height: 35px;
    min-width: 80px;
    border-radius: 5px;
}

.primary-button {
    border: none;
    padding: 0 5px;
    background-color: #0d6efd;
    color: white;
    height: 35px;
    border-radius: 5px;
}

.red-splitter {
    border-right: solid 6px #ff4081 !important;
    cursor: ew-resize;
}

.flex-grow {
    flex-grow: 1 !important;
}

.user-none {
    user-select: none !important;
}

.card {
    min-height: 300px !important;
    width: 100% !important;
    background: #fff !important;
    border: 1px solid #efefef !important;
    border-radius: 2px !important;
    cursor: pointer;
}

nz-message .anticon {
    margin: 0 10px !important;
}