@import url('../src/app/shared/color/colors.scss');
@import url('../src/assets/fonts/fontiran.css');

* {
    font-family: "IRANSans", "arial", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-bottom: env(safe-area-inset-bottom);
    /* todo: check */
}

.normal-button {
    border: none;
    background-color: white;
    min-height: 35px;
    min-width: 80px;
    border-radius: 5px;
}

.primary-button {
    border: none;
    padding: 0 5px;
    background-color: #0d6efd;
    color: white;
    height: 35px;
    border-radius: 5px;
}

.red-splitter {
    border-right: solid 6px #ff4081 !important;
    cursor: ew-resize;
}

.flex-grow {
    flex-grow: 1 !important;
}

.user-none {
    user-select: none !important;
}

.board {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 2px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 10px #dcdcdc;
    }
}

nz-message .anticon {
    margin: 0 10px !important;
}

.w-150px {
    width: 150px;
}

.w-400px {
    width: 400px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.cursor-pointer {
    cursor: pointer;
}


/* ant-field */

.ant-input,
.ant-select {
    height: 40px;
    border-radius: 4px;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input[disabled], .ant-btn[disabled]{
    color: #000;
}

.ant-input[disabled] {
    background: #fff;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    background: #fff;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #6298e9;
}

/* form */

.fielder {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    &-title {
        margin: 0 4px 6px 0;
        font-size: 14px;
    }
}

button.submit {
    width: 100px;
    margin-top: 10px;
}