<div class="w-100 d-flex justify-content-center pt-4 pb-2 px-2">
    <div class="header" dir="ltr">
        @if (client.isLogin) {
        <!-- todo: products -->
        <img class="power" src="assets/svg/power.svg" alt="" (click)="logout_onClick()">
        <div class="d-flex align-items-center">
            <div class="client-name pe-2">
                {{client.getUser.name}}
            </div>
            <img class="profile" src="assets/svg/profile.svg" alt="" (click)="profile_onClick()">
        </div>
        }
        @else {
        <!-- todo: products -->
        <button class="button" (click)="aboutUs_onClick()">{{ "aboutUs" | translate }}</button>
        <button class="button login" (click)="login_onClick()">{{ "loginButton" | translate }}</button>
        }
    </div>
</div>