<div class="wrapper w-100 d-flex justify-content-center pt-4 pb-2 px-2">
    <div class="header" dir="ltr">
        @if (client.isLogin) {
        <div>
            <img class="power mx-1" src="assets/svg/power.svg" alt="" (click)="logout_onClick()">
            @for (button of client.headerButtons; track $index) {
            <button class="button dynamic" (click)="navigate(button.route)">{{ button.title | translate }}</button>
            }

            <span class="burger mx-3 mt-1" nz-icon nzType="menu" nzTheme="outline" nz-dropdown [nzDropdownMenu]="menu"
                nzPlacement="bottomCenter" (click)="burger_onClick()">
            </span>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                @if (showBurgerMenu) {
                <ul nz-menu>
                    @for (button of client.headerButtons; track $index) {
                    <li class="menu-item" (click)="navigate(button.route); showBurgerMenu = false">{{ button.title |
                        translate }}</li>
                    }
                </ul>
                }
            </nz-dropdown-menu>

            @if (client.getUser.user.role === 'USER') {
            <nz-badge class="cursor-pointer mx-2" [nzCount]="client.shopCardLength" (click)="navigateToShopCard()">
                <span nz-icon nzType="shopping" nzTheme="outline"></span>
            </nz-badge>
            }
        </div>
        <div class="d-flex align-items-center">
            <div class="client-name pe-2">
                {{ client.getUser.user.name }}
            </div>
            <img class="profile" src="assets/svg/profile.svg" alt="" (click)="profile_onClick()">
        </div>
        }
        @else {
        <!-- <button class="button" (click)="contactUs_onClick()">{{ "contactUs" | translate }}</button> -->
        <button class="button" (click)="navigate('menu/categories')">{{ "products" | translate }}</button>
        <button class="button login" (click)="login_onClick()">{{ "loginButton" | translate }}</button>
        }
    </div>
</div>